<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>AluraGeeks</title>
</head>
<body>
    <div class="container">
        <section class="header">
          <div class="header__logo"></div>
          <div class="header__search">
            <input
              type="search"
              name="search"
              placeholder="Search"
              class="header__search--input"
            />
          </div>
          <div class="header__login">
            <button class="header__login--button" data-login> <a href="/views/login.html">Log In</a></button>
          <button class="header__login--button out" data-logout><a href="/index.html">Log Out</a></button>
          </div>
        </section>
        <section class="gallery">
            <div class="gallery__banner">
            </div>

        </section>

        <section class="product">
          <div class="product__container--getProduct" data-product>
            <h2 class="loading">Loading ...</h2>
          </div>

          <div class="divider">
            <div class="divider--separator"></div>
            <span class="divider--title">PRODCUTOS SIMILARES</span>
            <div class="divider--separator"></div>
          </div>

          <div class="product__related" data-related>

          </div>
        </section>

        <section class="footer">
          <div class="footer__container">
            <p class="footer--text">Desarrollado por COD_</p>
            <p class="footer--text">2023</p>
          </div>
        </section>
      </div>
      <script src="../assets/js/index.js"></script>
      <script src="https://kit.fontawesome.com/bdbde74840.js" crossorigin="anonymous"></script>
  <script type="module" src="../controllers/getProduct.controller.js"></script>
</body>
</html>