.products .container__addProduct {
  width: 100%;
  height: 100;
  padding: 2rem 0;
}
.products .container__addProduct .products__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 2rem;
}
.products .container__addProduct .products__form .fieldset {
  width: 40%;
}
.products .container__addProduct .products__form .input__product {
  width: 40%;
  height: 2.5rem;
  padding-left: 15px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  outline: none;
  margin-bottom: 20px;
  position: relative;
}
.products .container__addProduct .products__form .input__product:focus {
  outline: none;
  border-bottom: 2px solid #555;
}
.products .container__addProduct .products__form .input__product.form-input:focus::-moz-placeholder {
  transform: translateY(-40px);
  font-size: 14px;
  color: #ccc;
  -moz-transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}
.products .container__addProduct .products__form .input__product.form-input:focus::placeholder {
  transform: translateY(-40px);
  font-size: 14px;
  color: #ccc;
  transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}
.products .container__addProduct .products__form .input__product--resume {
  width: 40%;
  height: 5rem;
  border: 2px solid #ccc;
  outline: none;
}
.products .container__addProduct .products__form .btn__send {
  width: 40%;
  padding: 1rem;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #555;
}

.product {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}
.product__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}
.product__container--title {
  text-align: center;
  font-size: 3rem;
}
.product__container--body {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.product__container--body .product-image {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.product__container--body .product-image img {
  width: 80%;
}
.product__container--body .product-description {
  height: 100%;
}
.product__container--body .product-description p {
  font-size: 2rem;
  padding: 1rem;
}
.product .divider {
  margin-top: 2rem;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.product .divider--title {
  font-size: 30px;
}
.product .divider--separator {
  flex: 1;
  border-top: 1px solid #ddd;
}
.product__related {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  transition: all 0.3s ease;
  margin: 2rem;
}
.product__related .product {
  width: 300px;
  height: 400px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(123, 121, 123, 0.733);
}
.product__related .product .product__container--thumbnail {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.product__related .product .product__container--thumbnail .product__thumbnail {
  /* background: linear-gradient(rgba(5, 7, 12, .75), rgba(5, 7, 12, .75)) */
  width: 250px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: transform 1s;
}
.product__related .product .product__thumbnail:hover {
  transform: scale(1.2);
}
.product__related .product .product__details {
  font-size: 1.3rem;
  text-align: center;
}
.product__related .product .product__details .btn-showProduct {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #ccc;
  padding: 5px;
}
.product__related .product .product__details .btn-showProduct .anchor {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 720px) {
  .product__container {
    /*       margin-bottom: 2rem; */
  }
  .product__container .product__container--body {
    grid-template-columns: 100%;
    height: 100%;
  }
}
.product__container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 2rem;
  margin: 0 auto;
}
.product__container .product {
  width: 300px;
  height: 400px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(123, 121, 123, 0.733);
}
.product__container .product .delete {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-right: 2rem;
  cursor: pointer;
}
.product__container .product .delete .delete-btn {
  width: 50px;
  height: 50px;
  font-size: 100%;
  display: none;
}
.product__container .product .product__container--thumbnail {
  width: 250px;
  height: 200px;
  overflow: hidden;
}
.product__container .product .product__container--thumbnail .product__thumbnail {
  width: 250px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 1s;
}
.product__container .product .product__container--thumbnail .product__thumbnail:hover {
  transform: scale(1.2);
}
.product__container .product .product__details {
  font-size: 1.3rem;
  text-align: center;
}
.product__container .product .product__details .btn-showProduct {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #ccc;
  padding: 5px;
}
.product__container .product .product__details .btn-showProduct .anchor {
  text-decoration: none;
  color: black;
}

.container .gallery .gallery__banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .gallery .gallery__banner .container__login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  width: 400px;
  height: 400px;
  background: rgba(5, 7, 12, 0.4);
}
.container .gallery .gallery__banner .container__login .login__title {
  font-size: 25px;
  color: white;
}
.container .gallery .gallery__banner .container__login .input-login {
  width: 80%;
  height: 4rem;
  outline: none;
  border-radius: 5px;
  font-size: 25px;
  padding-left: 15px;
  border: 4px solid green;
}
.container .gallery .gallery__banner .container__login .btn-login {
  width: 80%;
  margin-left: 0;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background: #67E0A3;
  border-bottom: 1px solid;
}
.header__logo {
  background-image: url("/assets/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 180px;
  height: 100px;
}
.header__search {
  width: 35rem;
  height: 3rem;
}
.header__search--input {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 2rem;
  border: 4px solid rgb(8, 8, 80);
  padding-left: 2rem;
  background-color: #AFF9C9;
  background-image: url("/assets/images/seach-icon.png");
  background-size: 25px;
  background-position: 460px;
  background-repeat: no-repeat;
}
.header__search--input::-moz-placeholder {
  color: #317B22;
}
.header__search--input::placeholder {
  color: #317B22;
}
.header__login {
  width: 15rem;
  height: 4rem;
}
.header__login--button, .about__container .about__contact .send, .gallery__info--button {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #AFF9C9;
  border: 4px solid rgb(8, 8, 80);
  color: rgb(8, 8, 80);
  font-size: 20px;
}
.header__login .out {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header__search {
    width: 25rem;
  }
  .header__search--input {
    background-position: 350px;
  }
  .header__login--button, .about__container .about__contact .send, .gallery__info--button {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 10rem;
    flex-direction: column;
  }
  .header__logo {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .header__search {
    width: auto;
  }
  .header__search--input {
    background-position: 350px;
  }
  .header__login--button, .about__container .about__contact .send, .gallery__info--button {
    width: 80%;
  }
}
.gallery {
  width: 100%;
  height: 30rem;
}
.gallery__banner {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../images/banner-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__info {
  width: 90%;
  height: 10rem;
  position: absolute;
  left: 54%;
  top: 40%;
  color: white;
  transform: translate(-50%, -50%);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  font-size: 3rem;
}
.gallery__info .gallery--text {
  padding-left: 5rem;
}
.gallery__info--button {
  width: 10rem;
  font-size: 18px;
  margin-left: 5rem;
}

.container__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .gallery__info {
    left: 49%;
    top: 48%;
  }
  .gallery__info .gallery--text {
    font-size: 3rem;
  }
  .gallery__info--button {
    width: 9rem;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .gallery {
    height: 20rem;
  }
  .gallery__info {
    left: 42%;
    top: 42%;
  }
  .gallery__info .gallery--text {
    font-size: 1.7rem;
  }
  .gallery__info--button {
    width: 7rem;
    font-size: 11px;
  }
}
.products {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
}
.products .main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  gap: 40px;
}
.products .main__container .products__container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  /* margin-left: 4rem; */
}
.products .main__container .products__container .products__container--nav {
  width: 100%;
  height: 2rem;
  padding: 1rem 0;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: baseline;
}
.products .main__container .products__container .row__container--products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.products .main__container .products__container .row__container--products .row__container--products:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.products .main__container .products__container .row__container--products .product {
  width: 300px;
  height: 400px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(123, 121, 123, 0.733);
}
.products .main__container .products__container .row__container--products .product .product__container--thumbnail {
  width: 250px;
  height: 200px;
  overflow: hidden;
}
.products .main__container .products__container .row__container--products .product .product__container--thumbnail .product__thumbnail {
  width: 250px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 1s;
}
.products .main__container .products__container .row__container--products .product .product__container--thumbnail .product__thumbnail:hover {
  transform: scale(1.2);
}
.products .main__container .products__container .row__container--products .product .product__details {
  font-size: 1.3rem;
  text-align: center;
}
.products .main__container .products__container .row__container--products .product .product__details .btn-showProduct {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #ccc;
  padding: 5px;
}
.products .main__container .products__container .row__container--products .product .product__details .btn-showProduct .anchor {
  text-decoration: none;
  color: black;
}
.products .main__container .product {
  width: 300px;
  height: 400px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(123, 121, 123, 0.733);
}
.products .main__container .product .product__container--thumbnail {
  width: 250px;
  height: 200px;
  overflow: hidden;
}
.products .main__container .product .product__container--thumbnail .product__thumbnail {
  width: 250px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 1s;
}
.products .main__container .product .product__container--thumbnail .product__thumbnail:hover {
  transform: scale(1.2);
}
.products .main__container .product .product__details {
  font-size: 1.3rem;
  text-align: center;
}
.products .main__container .product .product__details .btn-showProduct {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #ccc;
  padding: 5px;
}
.products .main__container .product .product__details .btn-showProduct .anchor {
  text-decoration: none;
  color: black;
}
.products .main__container .btn-add {
  display: none;
  width: 8rem;
  height: 1.5rem;
  padding: 1rem;
  background-color: #aff9c9;
  border-radius: 5px;
  border: 4px solid #6b987e;
}

@media screen and (max-width: 1200px) {
  .products__container .star-wars__container .star__wars--nav {
    width: 80%;
    height: 2rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .products__container .star-wars__container .star-wars__products {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-around;
  }
  .products__container .star-wars__container .star-wars__products .star-wars__product {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .products__container .star-wars__container .star-wars__products .star-wars__product .star-wars__thumbnail {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .products {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .products .main__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .products .main__container .products__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .products .main__container .products__container--nav {
    width: 80%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .products .main__container .products__container .row__container--products {
    display: grid;
    grid-template-columns: auto auto;
  }
  .products .main__container .products__container .row__container--products .product {
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .products .main__container .products__container .row__container--products .product__thumbnail {
    width: 100px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
}
@media screen and (max-width: 480px) {
  .products {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .products .main__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .products .main__container .products__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .products .main__container .products__container--nav {
    width: 80%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .products .main__container .products__container .row__container--products {
    display: grid;
    grid-template-columns: auto auto;
  }
  .products .main__container .products__container .row__container--products .product {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .products .main__container .products__container .row__container--products .product .product__thumbnail {
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
}
.about {
  width: 100%;
  height: 25rem;
  background-color: #67e0a3;
  color: #fff;
}
.about__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px;
}
.about__container .nav--menu {
  list-style: none;
}
.about__container .nav--menu .nav--link {
  color: rgb(8, 8, 80);
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 40px;
}
.about__container .nav--menu .nav--link .anchor {
  text-decoration: none;
  color: #000;
}
.about__container .about__contact {
  height: 65%;
  border-radius: 25px;
  width: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px 20px 30px 20px;
  background: rgba(5, 7, 12, 0.4);
}
.about__container .about__contact .nombre--input,
.about__container .about__contact .decripcion--input {
  width: 80%;
  margin-bottom: 10px;
  height: 45px;
  border-radius: 4px;
  font-size: 1.2rem;
  border: none;
  background: rgb(175, 249, 201);
  outline: none;
  padding-left: 15px;
}
.about__container .about__contact .decripcion--input {
  height: 80px;
}
.about__container .about__contact .nombre--input:focus,
.about__container .about__contact .decripcion--input:focus {
  border: 4px solid #030323;
}
.about__container .about__contact .nombre--input:invalid {
  border: 4px solid red;
  animation: shake 0.2s 2;
}
@keyframes shake {
  25% {
    translate: 6px 0;
  }
  50% {
    translate: -6px 0;
  }
  75% {
    translate: 6px 0;
  }
}
.about__container .about__contact .send {
  padding: 5px;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .about__container .about__contact {
    width: auto;
  }
}
@media screen and (max-width: 1024px) {
  .about__container .about__contact {
    width: 25rem;
  }
}
@media screen and (max-width: 768px) {
  .about {
    height: 100%;
  }
  .about__container {
    flex-direction: column;
  }
  .about__container .about__contact .about__container {
    margin: 2rem 0;
  }
  .about__container .about__contact .about__container .nombre--input,
  .about__container .about__contact .about__container .decripcion--input {
    height: 15%;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 480px) {
  .about__container {
    padding: 1rem 0;
  }
  .about__container .about__brand {
    padding: 1rem 0;
  }
  .about__container .about__contact {
    width: auto;
  }
}
.footer {
  width: 100%;
  height: auto;
  background-color: aliceblue;
}
.footer__container {
  padding: 1rem 5rem;
  text-align: center;
  background-color: white;
}
.footer__container .footer--text {
  font-size: 1.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* .hyperlink {
  text-decoration: none;
  color: black;
}
* .container {
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}/*# sourceMappingURL=style.css.map */