@use "../header/header-index";
.products{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  .main__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    gap: 40px;
    
    .products__container{
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      /* margin-left: 4rem; */
      
      .products__container--nav{
        width: 100%;
        height: 2rem;
        padding: 1rem 0;
        display: flex;
        font-size: 1.5rem;
        justify-content: space-between;
        align-items: baseline;
      }

      .row__container--products{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        overflow: hidden;
        transition: all 0.3s ease;

        .row__container--products:hover{
          transform: translateY(-10px);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
        }
        .product{
          width: 300px;
          height: 400px;
          display: flex;
          background-color: #fff;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          border:2px solid #ccc;
          border-radius: 10px;
          box-shadow: 1px 1px 15px rgba(123, 121, 123, 0.733);
          .product__container--thumbnail{
            width: 250px;
            height: 200px;
            overflow: hidden;
            .product__thumbnail{
              width: 250px;
              height: 200px;
              object-fit: cover;
              border-radius: 10px;
              transition: all 1s;
            }
            .product__thumbnail:hover{
              transform: scale(1.2);
            }
          } 
          .product__details{
            font-size: 1.3rem;
            text-align: center;
              .btn-showProduct{
                width: 80%;
                margin:0 auto;
                border: 2px solid #ccc;
                padding: 5px;
                .anchor{
                  text-decoration: none;
                  color: black;
                }
              }
          }
        }
      }
    }
    .busqueda{
      width: 100%;
      display: none;

      .product{
        width: 300px;
        height: 400px;
        display: flex;
        background-color: #fff;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border:2px solid #ccc;
        border-radius: 10px;
        box-shadow: 1px 1px 15px rgba(123, 121, 123, 0.733);
        .product__container--thumbnail{
          width: 250px;
          height: 200px;
          overflow: hidden;
          .product__thumbnail{
            width: 250px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            transition: all 1s;
          }
          .product__thumbnail:hover{
            transform: scale(1.2);
          }
        } 
        .product__details{
          font-size: 1.3rem;
          text-align: center;
            .btn-showProduct{
              width: 80%;
              margin:0 auto;
              border: 2px solid #ccc;
              padding: 5px;
              .anchor{
                text-decoration: none;
                color: black;
              }
            }
        }
      }
    }

    .btn-add{
      display: none;
      width: 8rem;
      height: 1.5rem;
      padding: 1rem;
      background-color: #aff9c9;
      border-radius: 5px;
      border: 4px solid #6b987e;
    }
  }
}

@media screen and (max-width: 1200px) {
 .products__container{

   .star-wars__container{
     .star__wars--nav{
       width: 80%;
       height: 2rem;
       padding: 1rem 0;
       display: flex;
       justify-content: space-between;
       align-items: baseline;
     }
  
     .star-wars__products{
       display: grid;
       grid-template-columns: 300px 300px 300px   ;
       justify-content: space-around;
  
       .star-wars__product{
         width: 200px;
         height: 200px;
         display: flex;
         flex-direction: column;
         justify-content: center;
  
         .star-wars__thumbnail{
           width: 150px;
           height: 150px;
         }
       }
     }
   }
}
}

@media screen and (max-width: 768px) {
  .products{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .main__container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;

      
      .products__container{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        &--nav{
          width: 80%;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: baseline;
        }
  
        .row__container--products{
          display: grid;
          grid-template-columns: auto auto;
  
          .product{
            width: 300px;
            height: 400px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
  
            &__thumbnail{
              width: 100px;
              height: 50px;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .products{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .main__container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;

      
      .products__container{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        &--nav{
          width: 80%;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: baseline;
        }
  
        .row__container--products{
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
  
          .product{
            width: 300px;
            height: 400px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
  
            .product__thumbnail{
              width: 250px;
              height: 250px;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
  
